/*
	Autor: Roberto Tetsuo
	Data: 25/05/21
*/
@import url("https://p.typekit.net/p.css?s=1&k=lkz0zjh&ht=tk&f=69.70.71.25462&a=26970331&app=typekit&e=css");

@font-face {
font-family:"bree";
src:url("https://use.typekit.net/af/d76e1f/000000000000000077359531/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/d76e1f/000000000000000077359531/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/d76e1f/000000000000000077359531/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"bree";
src:url("https://use.typekit.net/af/c19b66/000000000000000077359533/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/c19b66/000000000000000077359533/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/c19b66/000000000000000077359533/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"bree";
src:url("https://use.typekit.net/af/75110d/000000000000000077359536/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/75110d/000000000000000077359536/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/75110d/000000000000000077359536/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:800;
}

@font-face {
font-family:"bree";
src:url("https://use.typekit.net/af/e7f55d/00000000000000007735953f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/e7f55d/00000000000000007735953f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/e7f55d/00000000000000007735953f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
  scroll-behavior: smooth!important;
}
body{
	background: #E5E5E5!important;
	padding-top: 100px!important;
}
header{
	height: 100px;
	display: flex;
	align-items: center;
	position: fixed;
    z-index: 999;
    width: 100%;
	background: #065AA2!important;
    top: 0;
}
a:hover{
	text-decoration: none!important;
}
.headerTitle{
	font-family: "Bree";
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 63px;
	letter-spacing: 0.01em;
	font-feature-settings: 'liga' off;
	color: #FFFFFF;
}
.headerTitle:hover{
	color: #FFFFFF;	
}
.headerMenu{
	display: flex;
	align-items: center;
}
.headerMenu a:hover{
	color: #E8E8E8;
}
.headerMenu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.headerMenu ul li{
	display: inline-block;
	margin: 0 15px;
}
.menu-item a{
	font-family: "Bree";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 15px;
	color: #FEFEFE;
}
header .btnNapoleao{
	padding: 8px 45px;
}
.headerMenu ul a{
	text-decoration: none;
}
.btnHeaderZap{
	width: auto;
	height: 28px;
	background: #D52941;
	border-radius: 6px;
	text-align: center;
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 0 10px;
	margin: 0 15px;
}
.btnHeaderZap img{
	margin-right: 7px;
}
.socialLinkHeader{
	margin: 0 7px;
}

/*	Footer	*/

footer{
	background-color: #065AA2;
	padding: 40px 0;
}
footer .footerTitle{
	font-family: "Bree";
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	color: #FEFEFE;
}
.bannerHome{
	background-position: center;
	background-size: cover;
	height: 480px;
	width: 100%;
	display: flex;
	align-items: center;
}

h2{
	font-family: "Bree";
	font-style: normal;
	font-weight: bold;
	font-size: 56px;
	line-height: 64px;
	font-feature-settings: 'liga' off;
	color: #065AA2;
}
p{
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 23px;
	letter-spacing: 0.01em;
	font-feature-settings: 'liga' off;
	color: #000000;
}
.socialFooter{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}
.socialFooter a{
	margin: 0 7px;
}
.socialFooter a img{
	height: 32px;
	width: 32px;
}

/*	Page Home	*/


.bannerHome h1{
	font-family: "Bree";
	font-style: normal;
	font-weight: bold;
	font-size: 56px;
	line-height: 64px;
	letter-spacing: 0.01em;
	font-feature-settings: 'liga' off;
	color: #065AA2;
}
.btnNapoleao{
	font-family: "Bree";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 15px;
	color: #FEFEFE!important;
	text-align: center;
	padding: 8px 0px;
	background: #FFCB07;
	border-radius: 5px;
}
.bannerHome .btnNapoleao{
	display: block;
	width: 100%;
	margin-top: 30px;
}
.motivacao h2{
	font-family: "Bree";
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 63px;
	letter-spacing: 0.01em;
	font-feature-settings: 'liga' off;
	color: #065AA2;
	padding: 25px 0;
}
.cardMotivacao{
	width: 100%;
	height: 195px;
	border: 5px solid #043E70;
	box-sizing: border-box;
	border-radius: 20px;
	display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.cardMotivacao img{
	height: 64px;
	width: 64px;
	display: block;
}
.cardMotivacao h3{
	font-family: "Bree";
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 63px;
	letter-spacing: 0.01em;
	font-feature-settings: 'liga' off;
	color: #065AA2;
	display: block;
}
.whoIAm{
	padding: 140px 0;
	display: flex;
	align-items: center;
}
.secondTitle{
	font-family: "Bree";
	font-style: normal;
	font-weight: bold;
	font-size: 56px;
	line-height: 64px;
	font-feature-settings: 'liga' off;
	color: #065AA2;
}
.whoIAm p{
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 23px;
	letter-spacing: 0.01em;
	font-feature-settings: 'liga' off;
	color: #000000;
	padding: 15px 0;
}
.whoIAm .personalText{
    display: flex;	
    flex-direction: column;
    justify-content: center;
}
.imgWhoIAm{
	height: 540px;
	width: 100%;
	border-radius: 68px;
	object-position: center;
	object-fit: cover;
}
.lastPosts{
	padding-bottom: 120px;
}
.lastPosts .secondTitle{
	margin-bottom: 20px;
}
.eachPost{
	margin-top: 25px;
	text-align: center;
}
.eachPost img{
	object-position: center;
	object-fit: cover;
	width: 100%;
	height: 200px;
}
.eachPost h4{
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.01em;
	font-feature-settings: 'liga' off;
	color: #043E70;
}
.eachPost p{
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.01em;
	font-feature-settings: 'liga' off;
	color: #333333;
}
.talkToMe{
	padding: 120px 0 160px 0;
	background-color: #065AA2;
}
.talkToMe img{
	width: 100%;
	object-position: center;
	object-fit: cover;
	height: 640px;
	border-radius: 70px;
}
.talkToMe h2{
	font-family: "Bree";
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 63px;
	font-feature-settings: 'liga' off;
	color: #FFFFFF!important;
}
.sublinhado{
	margin: 7px 0 15px 0;
	width: 85%;
	background: #FFFFFF;
	border-radius: 33px;
	height: 8px;
}
.talkToMe input{
	background-color: transparent;
	padding: 12px 23px!important;
	border: 2px solid #FFFFFF!important;
	box-sizing: border-box!important;
	border-radius: 10px!important;
	width: 100%!important;
	margin-bottom: 15px!important;
}
.talkToMe input:focus{
	outline: none!important;
}
.talkToMe input::placeholder,
.talkToMe input{
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 23px;
	letter-spacing: 0.01em;
	font-feature-settings: 'liga' off;
	color: #FFFFFF!important;
}
.talkToMe input[type='submit']{
	text-align: center!important;
	background: #FFCB07!important;
	border-radius: 5px!important;
	font-family: "Bree"!important;
	font-style: normal!important;
	font-weight: bold!important;
	font-size: 24px!important;
	line-height: 15px!important;
	color: #065AA2!important;
	padding: 20px 0!important;
	border: none!important;
}
.formContato{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.cardMotivacao:hover{
	background: #043E70;
	color: #fff;
	border: 5px solid #fff;
}
.cardMotivacao:hover svg path{
	fill:  #fff;
}
.cardMotivacao:hover h3{
	color:  #fff;
}

/*	Quem Sou	*/

.bannerTopo{
	background-position: center;
	background-size: cover;
	height: 480px;
	width: 100%;
	display: flex;
	align-items: flex-end;
	padding-bottom: 70px;
}
.bannerTopo h1{
	font-family: "Bree";
	font-style: normal;
	font-weight: bold;
	font-size: 56px;
	line-height: 64px;
	letter-spacing: 0.01em;
	font-feature-settings: 'liga' off;
	color: #065AA2;
}
.bodyQuemSou{
	padding: 140px 0;
}
.bodyQuemSou h2{
	font-family: "Bree";
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 63px;
	letter-spacing: 0.01em;
	font-feature-settings: 'liga' off;
	color: #065AA2;
}
.bodyQuemSou p{
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0.01em;
	font-feature-settings: 'liga' off;
	color: #000000;
}
.bodyQuemSou img{
	height: 338px;
	width: 100%;
	border-radius: 20px;
}
.bodyQuemSou .imgLabel{
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 23px;
	letter-spacing: 0.01em;
	font-feature-settings: 'liga' off;
	color: #000000;
	text-align: center;
	margin-bottom: 40px;
}
.maisFotos{
	padding-bottom: 120px;
}
.maisFotos h2{
	font-family: "Bree";
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 63px;
	letter-spacing: 0.01em;
	font-feature-settings: 'liga' off;
	color: #065AA2;
	margin-bottom: 70px;
}
.maisFotos a img{
  width: 280px;
  height: 185px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}
#slickPrev,
#slickNext{
  display: flex;
  align-content: center;
  justify-content: center;
} 
#slickPrev button,
#slickNext button{
	background: transparent;
	border:  none;
}
#slickPrev button:focus,
#slickNext button:focus{
	outline:  none;
}
#slickPrev img,
#slickNext img{
	height: 49px;
	max-width: 35px;
}

/*	Proposito	*/

.bodyProposito{
	padding: 60px 0;
}

.bodyProposito h2{
	margin-bottom: 25px;
}
.bodyProposito img{
	height: 450px;
	object-position: center;
	object-fit: cover;
}
.eachProposito{
	padding: 60px 0;
}
.eachPropositoTitle{
  display: flex;
  justify-content: center;
}
.eachPropositoTitle img{
	height: 64px!important;
	width: 64px!important;
	margin-right: 30px;
}
.eachProposito img{
	margin-bottom: 30px;
}
#slickPrevAzul{
  display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
} 
#slickNextAzul{
  display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
} 
#slickPrevAzul button,
#slickNextAzul button{
	background: transparent;
	border:  none;
	width: 100%;
	position: absolute;
	top: 350px;
}
#slickPrevAzul button:focus,
#slickNextAzul button:focus{
	outline:  none;
}
#slickPrevAzul img,
#slickNextAzul img{
	height: 49px;
	max-width: 35px;
}
.bodyProposito h3{
	font-family: "Bree";
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 63px;
	letter-spacing: 0.01em;
	font-feature-settings: 'liga' off;
	color: #065AA2;
	display: inline-block;
}
.slick-next:before,
 .slick-prev:before{
    content: ''!important;
}
.slick-dots button{
	background: transparent!important;
}


/*	Realizações	*/

.bodyTime{
	padding: 120px 0;
}
.timeLine {
    display: flex;
    justify-content: center;
}
.timeLine .line{
		background: #054D8A;
		min-height: 300px;
		height: 100%;
		width: 16px;
		display: block;
}
.timeLine .firstLine{
	min-height: 110px;
}
.timeLine .dot{
    background: #054D8A;
    height: 58px;
    width: 58px;
    display: block;
    position: absolute;
    top: 20%;
    border-radius: 50%;
}

.timeLineBox{
	background: #054D8A;
	border-radius: 20px;
	padding: 22px 30px!important;
}
.timeLineBox p,
.timeLineBox a{
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0.01em;
	color: #FFFFFF;
}
.timeLineBox b{
	font-weight: 600;
}
.timeLineBox a{
	text-decoration: underline;
}

/*	Galeria	*/

.bodyGaleria{
	padding: 140px 0;
}
.bodyGaleria img{
	border-radius: 20px;
	height: 250px;
	margin-bottom: 30px;
	object-position: center;
	object-fit: cover;
	width: 100%;
}


/*	Blog	*/

.bannerNoticia{
	height: 590px!important;
	background-position: center;
	background-size: cover;
	display: flex!important;
	align-content: flex-end;
	align-items: flex-end;
	padding-bottom: 60px;
}
.sombreado{
	position: absolute;
	bottom: 0;
	background-image: linear-gradient(transparent, #000);
	opacity: 0.7;
	width: 100%;
	height: 240px;
}
.bannerNoticia h2{
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	color: #FFFFFF;
}

.bannerNoticia p{
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
}
.titleBannerNoticia{
	padding-top: 40px;
}
.titleBannerNoticia .bottomLine{
	padding-bottom: 40px;
	border-bottom: 8px solid #013A81;	
}
.titleBannerNoticia h2{
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 25px;
	letter-spacing: 0.01em;
	font-feature-settings: 'liga' off;
	color: #013A81;
}
.titleBannerNoticia p{
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: #013A81;
}
.bodyBlog{
	padding: 50px 0;
}
.bodyBlog h3{
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 6px 10px;
	background: #065AA2;
	width: max-content;
}
.eachBlogPost img{
	width: 40%;
	display: inline-block;
	height: 180px;
	object-position: center;
	object-fit: cover;
}
.eachBlogPost .blogPostInfo{
	width: 50%;
	display: inline-block;
}
.blogPostInfo h4{
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	color: #333333;
}
.blogPostInfo p{
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: #333333;
}
.eachBlogPost{
	margin: 35px 0;
	border-left: 10px solid #065AA2;
}
.eachBlogPost{
	display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}
.eachBlogPost h5{
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
}
.action .col-4{
	background-color: #A5A5A5;
	height: 12px;
}
.action a{
	width: 100%;
	background-color: transparent;
	height: 12px;
	display: block;
}
.morePosts{
	background: transparent!important;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 42px;
	text-decoration-line: underline;
	text-transform: uppercase;
	color: #013A81!important;
	outline: none!important;
	border: none!important;
}
.morePosts:focus{
	outline: none!important;
	border: none!important;

}
.loaderBlog{
	height: 125px;
	width: 125px;
}
/*	Page Contato	*/

.bodyContato{
	padding: 190px 0;
}
.bodyContato .talkToMe{
	background: #E5E5E5;
	display: flex;
  flex-direction: column;
}
.bodyContato h1{
	font-family: "Bree";
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 63px;
	letter-spacing: 0.01em;
	font-feature-settings: 'liga' off;
	color: #065AA2;
}
.bodyContato .sublinhado{
	background: #065AA2;
}
.bodyContato .talkToMe input{
	border: 2px solid #065AA2!important;
	color: #065AA2!important;
}
.bodyContato .talkToMe input::placeholder{
	color: #065AA2!important;
}
.bodyContato .talkToMe input[type='submit']{
	border: none!important;
}
.bannerBlog{
	height: 280px;
	background-position: center;
	background-size: cover;
}

/* 404 */

.body404{
	padding: 295px 0;
}
.body404 h1{
	font-family: "Bree";
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 63px;
	letter-spacing: 0.01em;
	font-feature-settings: 'liga' off;
	color: #065AA2;
}
.body404 .sublinhado{
		width: 67%;
    background: #065AA2;
    display: inherit;
    margin: 0 auto;
}

/*---------------------------------------------------
--------------------------------------------
----------------------	Mobile	 -------------------
---------------------------------------------------
--------------------------------------------------*/

@media(max-width:  992px){

	/*	Header	*/
	header{
		height: 65px;
	}
	body{
		padding-top: 65px!important;
	}
	header .btnNapoleao{
    padding: 2px 80px;
	}
	.menuMobile{
    background: #065AA2!important;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 40px 0 20px 0;
	}
	.menuMobile ul{
		list-style-type: none;
		padding: 0;
		padding-top: 20px;
	}
	.menuMobile ul li{
		padding:  5px 0;
	}
	.headerMenu,
	.btnHeaderMenu{
		z-index: 9999;
	}
	.btnHeaderMenu input{
	  display: block;
	  width: 40px;
	  height: 32px;
	  position: absolute;
	  top: -7px;
	  left: -5px;
	  cursor: pointer;	  
	  opacity: 0; /* hide this */
	  z-index: 2; /* and place it over the hamburger */
	  -webkit-touch-callout: none;
	}
	.btnHeaderMenu{
		display: flex;
    justify-content: flex-end;
	}
	/*
	 * Just a quick hamburger
	 */
	.btnHeaderMenu span{
	  display: block;
	  width: 33px;
	  height: 4px;
	  margin-bottom: 5px;
	  position: relative;
	  background: #cdcdcd;
	  border-radius: 3px;	  
	  z-index: 1;
	  transform-origin: 4px 0px;	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              opacity 0.55s ease;
	}
	.btnHeaderMenu span:first-child{
	  transform-origin: 0% 0%;
	}

	.btnHeaderMenu span:nth-last-child(2){
	  transform-origin: 0% 100%;
	}

	/* 
	 * Transform all the slices of hamburger
	 * into a crossmark.
	 */
	.btnHeaderMenu input:checked ~ span{
	  opacity: 1;
	  transform: rotate(45deg) translate(-2px, -1px);
	  background: #232323;
	}

	/*
	 * But let's hide the middle one.
	 */
	.btnHeaderMenu input:checked ~ span:nth-last-child(3){
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}

	/*
	 * Ohyeah and the last one should go the other direction
	 */
	.btnHeaderMenu input:checked ~ span:nth-last-child(2){
	  transform: rotate(-45deg) translate(0, -1px);
	}

	/*	Home	*/

	.bannerHome{
		height: 370px;
	}

	.talkToMe img{
		height: 445px;
	}

	/*	Quem sou	*/

	.bodyQuemSou img{
		height: 270px;
	}
	.bannerTopo{
		height: 380px;
	}
	.bodyQuemSou {
    padding: 90px 0;
	}

	/*	Propositos	*/

	#slickPrevAzul img,
	#slickNextAzul img{
		height: 49px;
		max-width: 35px;
	}
	.eachProposito img{
		height: 370px;
	}
	.bodyProposito .slick-dots{
		top: 520px;
	}
	.slick-dots li button:before {
	    font-size: 13px!important;
	    color: #065AA2!important;
	}

	/*	Blog	*/

	.bannerNoticia{
		height: 440px!important;
		padding-bottom: 35px;
	}
	.bannerNoticia h2{
		font-size: 38px;
		line-height: 42px;
	}
	.bannerNoticia p{
		font-size: 22px;
		line-height: 24px;
	}
	.titleBannerNoticia h2{
		font-size: 20px;
		line-height: 24px;
	}
	.titleBannerNoticia p{
		font-size: 16px;
		line-height: 20px;
	}
	.eachBlogPost .blogPostInfo,
	.eachBlogPost img{
		width: 100%;
	}
}



@media(max-width:  768px){
	
	/*	Header	*/
	.headerTitle{
		font-size: 27px;
	}

	/*	Home	*/

	.eachPost img{
		height: 280px;
	}
		.whoIAm{
		padding: 30px 0;
	}
	.imgWhoIAm {
    height: 380px!important;
    object-position: top!important;
    margin: 15px 0!important;
	}
	.talkToMe {
    padding: 20px 0 25px 0;
	}
	.lastPosts{
		padding-bottom: 40px;
	}

	/*	Quem sou	*/

	.maisFotos a img{
		height: 250px;
		width: 100%;
	}

	/*	Blog	*/

	.sombreado{
		height: 170px;
	}
	.bannerNoticia{
		height: 350px!important;
		padding-bottom: 15px;
	}
	.bannerNoticia h2 {
    font-size: 32px;
    line-height: 36px;
	}
	.bannerNoticia p {
    font-size: 16px;
    line-height: 20px;
	}
}

@media(max-width: 576px){

	/*	Geral	*/
	.bannerTopo {
    height: 181px;
	}
	.bodyGaleria img{
		height: 120px;
	}

	/*	Home	*/

	.bannerHome{
		height: 250px;
	}
	.bannerHome h1 {
    font-size: 37px;
    line-height: 39px;
	}

	/*	Contato	*/

	.bannerBlog {
    height: 215px;
  }

  /*	Blog	*/

  .action{
  	display: none;
  }
  .morePosts{
  	font-size: 26px;
  }


}

@media(max-width: 425px){
	.headerTitle{
		font-size: 28px;
	}
	.motivacao h2{
		line-height: 34px;
	}
	.bodyContato {
    padding: 50px 0;
	}

}


@media(max-width: 375px){
	.headerTitle{
		font-size: 24px;
	}

	/*	Proposito	*/

	.bodyQuemSou {
    padding: 30px 0;
	}
	.bodyQuemSou h2{
		font-size: 36px;
		line-height: 45px;
	}

	/*	Contato	*/

	.bannerBlog{
		height: 175px;
	}

	/*Blog	*/

	.morePosts{
  	font-size: 22px;
  }

}



@media(max-width: 320px){
	.headerTitle{
		font-size: 20px;
	}
}